.filter {
    display: flex;
    background-color: #BCC2E5;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
}
.select{
    width: 100%;
    height: 50px;
    background-color: var(--filter-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
  }

  option {
    background-color: var(--primary-color);
    color: #FFF;
  }
  select {
    background-color: var(--filter-color);
    border: none;
    border-bottom: 3px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    appearance: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 30px 4px 8px;
    cursor: pointer;
  
  }
.legenda {
    display: flex;
    gap: 12px;
    padding-right: 66px;
}
.legend{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.leg {
    height: 20px;
    width: 20px;
    box-shadow: 0 5px 5px 0 rgb(28, 28, 29);
}
